* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.8fr 1.2fr;
}
.item {
    border: 2px solid black;
    display: flex;
    justify-content: center;    /* 수평 가운데 */
    align-items: center;        /* 수직 가운데 */
    font-size: 2rem;
}
.item1 {
    background-color: pink;
}
.item2 {
    background-color: skyblue;
}
.item3 {
    background-color: wheat;
}
.item4 {
    background-color: floralwhite;
}