/* desktop */
body {
    background-color: darkseagreen;
}

/* tablet */
@media screen and (max-width: 720px) {
    body {
        background-color: pink;
    }
}

/* mobile */
@media screen and (max-width: 540px) {  /*  띄어쓰기 잘 보기 and와 떨어져 있고 : 이다  */
    body{
        background-color: silver;
    } 
}