main {
    margin: 0 auto;
    margin-top: calc(44px + 100px);
    width: calc(100% - 100px * 2);
    max-width: 600px;
}
.title.flex-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    column-gap: 40px;
    margin-bottom: 40px; /* title과 weekday 사이 공간 주자 */
}
.weekday.container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.dates.container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 10px;
    font-size: 1.25rem;
}
.date.item {
    aspect-ratio: 1/1; /* 너비:높이 1:1 비율로 맞추기 */
    display: grid;          /* 글자 수평 수직 가운데 정렬 */
    place-items: center;    /* 글자 수평 수직 가운데 정렬 */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.review.flex-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1.25rem;
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
}

tablet/
@media screen and (max-width: 720px) {
    
}

@media screen and (max-width: 540px) {
    main {
        margin-top: calc(44px + 40px);
        width: cal(100% - 10px * 2);
    }
    .weekday.container {
        font-size: 1.25rem;
    }
    .dates.container {
        font-size: 1rem;
    }
    .review.flex-container {
        font-size: 1rem;
    }
}

/* delete me */
/* main * {
    border: 2px solid black;
} */